<style>
.order-contents{
  font-family: helvetica;
  font-size: 20px;
}
.order-legends{
  font-family: georgia;
  font-size: 30px;
}
</style>
<div class="container">
  <div class="orders">
    <fieldset class="order-fields">
      <legend class="order-legends">
        &ensp;<strong>O R D E R S</strong>
      </legend>
      <div class="container">
        {{#each brands}}
        <div class="row">
          <div class="col-md-12">
            <div class="order-contents">
              ___________________________________________________________
                            <div class="order-contents2">
                <li>Name: <strong>{{this.brand_name}}</strong></li>
                <li>Description<strong> {{this.brand_description}}</strong></li>
                
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>