<style>
.order-contents{
  font-family: helvetica;
  font-size: 20px;
}
.order-legends{
  font-family: georgia;
  font-size: 30px;
}
</style>
<div class="container">
  <div class="orders">
    <fieldset class="order-fields">
      <legend class="order-legends">
        &ensp;<strong>C A T E G O R I E S</strong>
      </legend>
      <div class="container">
        {{#each products_category}}
        <div class="row">
          <div class="col-md-12">
            <div class="order-contents">
              ___________________________________________________________
                            <div class="order-contents2">
                <li><strong>{{this.product_category_name}}</strong></li>
                {{/each}}
              ____________________________________________________________    
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>