<div class="container text-center">
	
<h1>Brands</h1>
	<br>
	<div class="container col-xs-12 brandRes" id="brandTable">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center" width="12%">
						<label>Brand Name</label>
					</th>
					<th class="text-center">
						<label>Description</label>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each brands}}
					<tr>
						<td>
							<label>{{this.name}}</label>
						</td>
						<td>
							{{this.description}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<a href="/brand/create"><button class="btn btn-sm form-update-button">Add brand</button></a>
	</div>
</div>