<div class="container text-center">
	
<h1>Categories</h1>
				
{{#each categories}}
	{{this.name}} | 
{{/each}}


</div>

<div class="container text-center" style="margin-top: 2em">
	<a href="/category/create"><button class="btn btn-sm form-update-button">Add category</button></a>
</div>