<div class="container text-center" style="margin-top: 100pt;">
	<h1>Your order request was received!</h1>
	<p>Please check your email for acknowledgement.</p>
	<a href="/"><button class="btn" style="background: transparent">Home</button></a>
</div>