<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
        @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  
}
.fluid{
  background: #778899;
  padding: 5px;

}
#header{
  padding: 10px;
}
#header img{
  height: 8%;
  margin-left: 25px;
}
#tabs{
  border:1px solid gray;
  float: left;
  height: 83%;
  background-color: #808080;
  color: black;
}
#tabs img {
  height: 5%;
  margin-bottom: -7px; 
}
#tabs ul li{
  list-style: none;
  
}
.liss{
  padding: 0px;
}
.liss li{
  border-bottom: 2px solid darkgray;
  font-size: 20px;
  padding: 10px;

}
.linee{
  width: 100%;
  text-align: center;
  background: #808080;
  color: white;
}
.spc{
  border:3px solid darkgray;

}
.cont{
  border: 1px solid lightgray;
  display: inline-block;
  color: black;
    
}
#main-content{
  border: 3px solid darkgray ;
  background-color: darkgray;
/*  height: 250%;*/
  width: 85%;
  margin:10px;
}
ul li:hover{
  background-color: #D3D3D3;
  cursor: pointer;
  

}
a:active{
  background-color: #D3d3d3;
}
a{
  text-decoration: none;
  color: white;
}
iframe{
  height: 95%;
  width: 100%;
}
.dii{
  
  display: inline-block;
}

.usrname{
  float: right;
  margin: 15px;
}
#titleev{
  width: 50%;
  font-size: 1em;
}
.dets{
  width: 50%;
  font-size: 12px;

  align-self: right;
  border:2px solid black;
}
.addmin{
  border: 2px solid skyblue;
  margin: 50px;

}
.areg input{

  margin: 5px;
}
  
    body {
      background: #D3D3D3;
      font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
    }

    #productImg {
    border-radius: 5px;
    /*cursor: pointer;*/
    transition: 0.3s;
    }

    #productImg:hover {
        opacity: 0.8;
    }

  .product_row_css {
      display: -ms-flexbox; /* IE 10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE 10 */
      flex-wrap: wrap;
      padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .product_column_css {
      -ms-flex: 25%; /* IE 10 */
      flex: 25%;
      padding: 0 0px;
  }

  .product_column_css img {
      margin-top: 5px;
      vertical-align: middle;
  }


  .product_container {
    position: relative;
    /*width: 275px;*/
    max-width: 275px;
    margin: 4px;
  }

  .imgPost {
    display: block;
    /*width: 100%;*/
    height: auto;
  }

  .product_overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 50pt;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 0px;
    text-align: center;
      cursor: pointer;
  }

  .product_container:hover .product_overlay {
    opacity: 1;
  }

  /*css for form product*/
  .form-update-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
  }
  .form-update-button:hover {
    background-color:#e9e9e9;
  }
  .form-update-button:active {
    position:relative;
    top:1px;
  }

  .form-submit-button {
    -moz-box-shadow:inset 0px -3px 7px 0px #52514e;
    -webkit-box-shadow:inset 0px -3px 7px 0px #52514e;
    box-shadow:inset 0px -3px 7px 0px #52514e;
    background-color:#52514e;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #52514e;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
  }
  .form-submit-button:hover {
    background-color:#52514e;
  }
  .form-submit-button:active {
    position:relative;
    top:1px;
  }



  /*css for brand_create*/
  #brandPanel{
    width: 500pt;
    margin-top: 100pt;
    border: #cccccc solid 1px;
  }
  #brandPanelHead{
    background: transparent;
  }
  /*end off css for brand_create*/

  /*css for brand table list*/
  #brandTable{
    /*border: #cccccc solid 1px;*/
    border-radius: 10px;
    @media only screen and (min-width: 1920px){
      .brandRes {width: 200%}
    }
  }
  /*end of css brand table list*/

  /*css for Cateory create*/
    #categoryBorder{
      border: #cccccc solid 1px;
      border-radius:10px;
      margin-top: 100pt;
      padding: 10pt;
    }
    #categoryHead{
      /*margin-top: 80pt;*/
      border: #cccccc solid 1px;
      border-bottom: none;
      border-radius: 10px 10px 0px 0px; 
    }
    h4{
      padding: 0pt;
      margin:0pt;
      padding-bottom: 0pt;
    }
    hr{
      color: #cccccc;
    }
  /*end of css for Cateory create*/

  /*css for product_create*/
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }


  html {
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: white;
    background-color: #272727;
    text-align: center;
  }

.FLUID{
 font-size:40px;
 color: white;
}
  </style>
</head>
<body>
<div class="fluid" id="header">
    <img src="/icon.png"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TITAN STORE DASHBOARD</strong>
    </div>
    <div class="linee" style="height: 1em;"></div>
    <div class="sqr">
    <div class="linee" style="height: 1em;"></div>
    <div class="sqr">
    <nav>
      <div class="cont" id="tabs">
        <ul class="liss" style="padding: 0px;">
          <li><a href="/admin" class="menu-links" style="color: #FFFFFF; font-size: 14pt; margin-left: 10pt; margin-right: 15pt" >Dashboard</a></li>
          <li><a href="/admin/products" class="menu-links" style="color: #FFFFFF; font-size: 14pt; margin-left: 10pt; margin-right: 15pt" >Products</a></li>
          <li> <a href="/admin/orders" class="menu-links" style="color: #FFFFFF; font-size: 14pt; margin-right: 15pt" >Orders</a></li>
         <li><a href="/admin/customers" class="menu-links" style="color: #FFFFFF; font-size:14pt; margin-right: 15pt" >Customers</a></li>
         <li><a href="/admin/brands" class="menu-links" style="color: #FFFFFF; font-size: 14pt; margin-right: 15pt">Brands</a></li>
         <li><a href="/admin/categories" class="menu-links" style="color: #FFFFFF; font-size: 14pt; margin-right: 15pt" >Categories</a></li>
         <li><a href="/admin/brand/create" class="menu-links" style="color: #FFFFFF; font-size: 14pt; margin-right: 15pt">Add Brand</a></li>
         <li><a href="/admin/category/create" class="menu-links" style="color: #FFFFFF; font-size: 14pt; margin-right: 15pt" >Add Category</a></li>
         <li><a href="/admin/product/create" class="menu-links" style="color: #FFFFFF; font-size: 14pt; margin-right: 15pt">Add Product</a></li>
        </ul>
      </div>
      <div class="cont tablle" id="main-content">
            {{{body}}}
      </div>
    </nav>
      
    </div>





<!-- Footer -->
{{!-- <footer id="qqq"> --}}
<div class="footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© all Rights Reserved! Developers 
      <a href="/member/Francis" style="color:white"> Francis Manalastas   </a>
      <a href="/member/Rhenz" style="color:white"> Rhenz Mayor</a>
    </div>
    </div>




</body>
<script type="text/javascript">
  $(function() {
    var Accordion = function(el, multiple) {
    this.el = el || {};
    this.multiple = multiple || false;

    // Variables privadas
    var links = this.el.find('.link');
    // Evento
    links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
  }

  Accordion.prototype.dropdown = function(e) {
    var $el = e.data.el;
      $this = $(this),
      $next = $this.next();

    $next.slideToggle();
    $this.parent().toggleClass('open');

    if (!e.data.multiple) {
      $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
    };
  } 

  var accordion = new Accordion($('#accordion'), false);
});

$( document ).ready(function() {
    document.getElementByID('qqq').style.position = 'absolute';
    document.getElementByID('qqq').style.bottom = '0';
});
</script>
</html>