<div class="container text-center">
	
<h1>Brands</h1>
	<br>
	<div class="container col-xs-8 brandRes" id="brandTable" style= "margin-left:240px">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center" width="20%">
						<label>Brand Name</label>
					</th>
					<th class="text-center">
						<label>Description</label>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each rows}}
					<tr>
						<td>
							<label>{{this.brand_name}}</label>
						</td>
						<td>
							{{this.brand_description}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
<div><a role="button" class="btn btn-secondary btn-lg btn-block" style="background-color: #262626;color:lightgray; margin-left: 40%; margin-top: 50px; width: 200pt"href="/brand/create">Create Brand</button></a>
</div>