<div class="container text-center">
	<form action="/categories" method="POST">
		

		<div class="container col-xs-6 col-xs-offset-3 form-inline" id="categoryBorder" style="margin-top: 50pt">
			<label><h4>Create Category</h4></label>
			<hr> 
			<div class="form-group">
				<div class="col-xs-12">
					<label><strong>Category Name</strong></label>
					<input type="text" name="product_category_name" class="form-control">
					<button type="submit" class="btn btn-default" style="background-color: #262626;color:lightgray;width: 100pt">Add</button>
				</div>
				
			</div>
		</div>

	</form>
</div>