<div class="container text-center">

	<form action="/brands" method="POST">
		<br>
		<br>
			<div class=" container panel panel-default" id="brandPanel" style="background-color: #778899; margin-top: 30pt">
				<div class="panel-heading" id="brandPanelHead" style= "color: #FFFFFF"><h4><label>BasketBall Shoes</label></h4></div>
	    		<div class="panel-body" >
	    			<div class="form-group">
						<label>Brand Name</label>
						<input type="text" name="brand_name" id="name" placeholder="brand name" class="form-control">
						<label> &nbsp &nbsp Brand Description</label>
						{{!-- <input type="textbox" name="brand_description" placeholder="brand description"> --}}
						<textarea name="brand_description" placeholder="Description" id="description" class="form-control"></textarea>
					{{!-- 	<input type="submit" name="" value="Add" class="form-control"> --}}
					<br>
					<br>
					<button type="submit" class="btn btn-secondary btn-lg btn-block"style="background-color: #262626;color:lightgray; margin-left:170px; width: 200pt">Add</button>
						<button type="button" class="btn btn-secondary btn-lg btn-block" id="clear"style="background-color: #262626;color:lightgray; margin-left:170px; width: 200pt">Clear</button>
					</div></div>
	    		</div>
	  		</div>
	</form>

</div>
