<style>
  	@import url('https://fonts.googleapis.com/css?family=Homemade Apple');
	@import url('https://fonts.googleapis.com/css?family=Poppins');

	html, body{
	  height: 100%;
	  width: 100%;
	  font-family: 'Poppins', sans-serif;
	  color: #222;
	}
	.intro{
		height: 100%;
		width: 100%;
		margin: auto;
		display: table;
		top: 0;
	}
	.intro .inner{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: none;
	}
	.content{
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		top: 10%;
	}
	.content h2{
		font-family: 'Homemade Apple', sans-serif;
		color: #fff;
		text-shadow: 0px 0px 300px #000;
		font-size: 250%;
		margin-bottom: 0;
		display: block;
	}
	.content h1{
		font-size: 125%;
		color: #fff;
		text-shadow: 0px 0px 300px #000;
		margin-bottom: 5%;
		font-family: 'Poppins', sans-serif;
	}
</style>

<body style="background: url(https://wallpapertag.com/wallpaper/full/2/9/8/465801-best-pink-purple-and-blue-backgrounds-1920x1080-hd.jpg) no-repeat 50% 50%;">

<!--Landing-->
<section class="intro">
<div class="inner">
	<div class="content">
		<h2>"The joy of dressing is an art"</h2>
		<h1>- John Galliano</h1>
		<a href="/products"><button class="btn">Shop Now</button></a>
</div>
</body>

