<style>
  	@import url('https://fonts.googleapis.com/css?family=Homemade Apple');
	@import url('https://fonts.googleapis.com/css?family=Poppins');

	html, body{
	  height: 100%;
	  width: 100%;
	  font-family: 'Poppins', sans-serif;
	  color: #222;
	}
	.intro{
		height: 100%;
		width: 100%;
		margin: auto;
		display: table;
		top: 0;
	}
	.intro .inner{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: none;
	}
	.content{
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		top: 10%;
	}
	.content h2{
		font-family: 'Homemade Apple', sans-serif;
		color: #fff;
		text-shadow: 0px 0px 300px #000;
		font-size: 250%;
		margin-bottom: 0;
		display: block;
	}
	.content h1{
		font-size: 125%;
		color: #fff;
		text-shadow: 0px 0px 300px #000;
		margin-bottom: 5%;
		font-family: 'Poppins', sans-serif;
	}
</style>

<body style="background: url('http://res.cloudinary.com/dbms1819-t5/image/upload/v1534498516/01_KYRIE1-presskit.jpg') no-repeat 50% 50%;">

<!--Landing-->
<section class="intro">
<div class="inner">
	<div class="content">
	<br>
	<br>
	<br>
		<a href="/products"><button class="btn btn-secondary btn-lg btn-block" style="background-color: #262626;color:lightgray; margin-left: 32%; margin-top: 200px; width: 200pt">Shop Now</button></a>
</div>
</body>

