<div class="container-fluid" align="center" style="width: 70%; margin: 50px auto">
  <div class="row">
    <div class="col-md-12">
      <div class="modal-header" align="center">
        <h3>SIGNUP MEMBER</h3>
      </div>
      <form method="POST" action="/signup">
        <div class="modal-body">
          <input hidden name="user_type" value="customer">
          <div class="form-group" style="width: 80%;">
            <label style="float:left">First Name</label>
            <input class="form-control" type="text"  name="fname" placeholder="Enter first name..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">Middle Name</label>
            <input class="form-control" type="text"  name="mname" placeholder="Enter middle name..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">Last Name</label>
            <input class="form-control" type="text"  name="lname" placeholder="Enter last name..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">State</label>
            <input class="form-control" type="text"  name="state" placeholder="Enter state..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">City</label>
            <input class="form-control" type="text"  name="city" placeholder="Enter city..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">Street</label>
            <input class="form-control" type="text"  name="street" placeholder="Enter street..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">Zipcode</label>
            <input class="form-control" type="text"  name="zipcode" placeholder="Enter zipcode..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">Email Address</label>
            <input class="form-control" type="email"  name="email" placeholder="Enter email address..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Enter password..." required="">
          </div>
          <div class="form-group" style="width: 80%;">
            <label style="float:left">Confirm Password</label>
            <input class="form-control" type="password" name="confirm_password" placeholder="Confirm password..." required=""><br>
            <p>Already a member?&ensp;<a href="/login">Sign in now!</a></p>
          </div>
          <div class="modal-footer">
            <input style="margin-left: auto; margin-right: auto; width: 50%" type="submit" name="login" class="btn btn-md" value="Register">
          </div>
        </div>
      </form>
    </div>
  </div>
<div>