<script>
function myFunction() {
    alert("Product already exists!");
}
</script>
<script src="node_modules/alert-js/alert.min.js"></script>
<script src="node_modules/ripple-js/ripple.min.js"></script>
<body onload="myFunction()">
  <div class="container-fluid">
    <div class="row">
      ERROR!
    </div>
  </div>
</body>